.nav {
    margin-bottom: 50px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.nav__title {
    font-family: var(--font-playfair);
    font-size: 50px;
    font-weight: 600;
    width: 480px;
    margin-bottom: 30px;
    color: black;
}

.nav__text {
    font-family: var(--font-playfair);
    font-size: 20px;
    font-weight: 500;
    width: 800px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 50px;
    color: black;
}

.nav__list {
    display: flex;
    gap: 80px;
}

.nav__item {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 350px;
    height: 80px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(153, 153, 153, 0.3);
}

.nav-one__text {
    background: rgb(0, 195, 255);
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    color: #FFFFFF;
    padding: 5px;
}

.nav-two__text {
    font-family: var(--font-playfair);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 25px;
    color: black;
}

.nav__img {
    width: 350px;
    height: 200px;
    margin-left: 100px;
    animation: floatImg 2s ease-in-out infinite;
}

@keyframes floatImg {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}